HELP.md
target/
.mvn
!**/src/main/**/target/
!**/src/test/**/target/
out/

.idea
*.iws
*.iml
*.ipr

*.DS_Store

.vscode/

**/logs

**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

.terraformrc
terraform.rc

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work
go.work.sum

.env