[user]
    name = Lars Kristian Haga
    email = larskhaga@gmail.com

[color]
    ui = always

[alias]
    s = status
    st = status
    c = commit -m
    ca = 'commit -m; git push origin'
    ps = push origin
    pl = pull origin
    br = branch
    co = checkout
    sw = switch
    i = init
    all = add .
    allp = add . -p
    ad = add
    addd = add
    pul = pull
    pulll = pull
    diffs = diff --staged
    puhs = push
    cherrypick = cherry-pick

    # If you do `git git status`, this sorts out the duplicate
    git = !exec git

[core]
        autocrlf = input
        editor = vim

[push]
        autoSetupRemote = true
        default = current

[pull]
        rebase = false

[init]
        defaultBranch = main
