[user]
    name = Lars Kristian Haga
    email = larskhaga@gmail.com

[color]
    ui = always

[alias]
    s = status -s
    ts = status -s
    st = status -s
    c = commit -m
    comit = commit
    commmit = commit
    commt = commit
    ca = 'commit -m; git push origin'
    ps = push origin
    pl = pull origin
    br = branch
    co = checkout
    sw = switch
    i = init
    all = add .
    allp = add . -p
    ad = add
    addd = add
    pul = pull
    pulll = pull
    pil = pull
    pill = pull
    pilll = pull
    diffs = diff --staged
    puhs = push
    cherrypick = cherry-pick
	branches = !git for-each-ref --sort=\"-committerdate:iso8601\" --format=\"%(committerdate:relative)|%(refname:short)|%(committername)\" refs/remotes/ | column -s \"|\" -t

    contributors = shortlog --summary --numbered

    # Finds commits by commit message.
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

    # If you do `git git status`, this sorts out the duplicate
    git = !exec git

    empty = commit --allow-empty -m "Empty commit"

[core]
        autocrlf = input
        editor = vim

[push]
        autoSetupRemote = true
        default = current

[pull]
        rebase = true

[init]
        defaultBranch = main
